* {
  box-sizing: border-box;
}

body {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

.grid-container {
  background-color: #11111B;
  height: 90vh;
  aspect-ratio: 4/6;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/*.grid-container > button {*/

/*}*/

.display {
  grid-column: span 4;
  grid-row: span 1;
}
