* {
  box-sizing: border-box;
}

body {
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-family: monospace;
}

.grid-container {
  background-color: #11111B;
  height: 90vh;
  aspect-ratio: 4/6;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.display {
  grid-column: span 4;
  grid-row: span 1;
}

button {
  font-size: 2rem;
}

#zero {
  grid-column: span 2;
}
